.notice{
	position:absolute;
	padding:9px;
	border-radius:10px;
	background-color:white;
	background-color: rgba(00,00,00,0.6);
	box-shadow: 1px 5px 8px white;
	width:540px;
	height:220%;
	left:250px;
	
}
.titulo{
	
	font-size:32px;
	
}
.info{
		font-size:20px;
}
/* MENU FLOTANTE */

.morenotice, .button, .nav{
	
	position:fixed;
}

.morenotice{
	margin:auto;
	
	
}





/* botones*/
#moren{
	display:none;
}

.button{
	z-index:999;
	width:100px;
	height:25px;
	border-radius:80%;
	cursor:pointer;
	transition: all 1s ease-in-out;
	background-color:transparent;
	background-image:url('boton flotante.png');
}
.button:before{
	
	position:absolute;
    top:20px;
	left:9px;
	content: '';
	width:25px;
	height:5px;
    background:transparent;

}
.nav{
	transform: translatey(2%);
	opacity:0;
	top:13px;
    left:2px;
	transition: all 0.9s ease-in-out;
	background:transparent;
	width:150px;
    border-radius:5px;
    transform:translatey(0%);
	

}
.nav a{
	text-align:center;
	display:block;
	margin:40px 0;
	text-transform:uppercase;
	
	
	
}


#moren:checked~.nav{
	opacity:2;
	transform:translatey(20%) ;
	
}
/* Botones del menu*/

.segundo1{
	border-radius:10px;
	background:transparent;
	color:white;
	width:210px;
	box-shadow:1px 5px 5px white;
	cursor:pointer;
	
}
.segundo1:hover{
	background:white;
	color:black;
	
	
}


.segundo2{
	border-radius:10px;
	background:transparent;
	color:white;
	width:210px;
	box-shadow:1px 5px 5px white;
	cursor:pointer;
	
}
.segundo2:hover{
	background:white;
	color:black;
	
	
}
.segundo3{
	border-radius:10px;
	background:transparent;
	color:white;
	width:210px;
	box-shadow:1px 5px 5px white;
	cursor:pointer;
	
}
.segundo3:hover{
	background:white;
	color:black;
	
	
}
.segundo4{
	border-radius:10px;
	background:transparent;
	color:white;
	width:210px;
	box-shadow:1px 5px 5px white;
	cursor:pointer;
	
	
}
.segundo4:hover{
	background:white;
	color:black;
	
	
}
/* DIV DE MUSICA*/

.music, .play{
	
	position:fixed;
}
.music{
	
	width:100px;
	height:100px;
	top:650px;
	left:920px;
	background-color:blue;
}

.play{
	
	border-radius:100%;
	width:70px;
	height:70px;
	
	top:510px;
	left:880px;
	cursor: pointer;
}